main {
    color: white;
}
.content-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 487px;
    margin-left: auto;
    margin-right: auto;
}
.intro {
    padding-top: 10px;
    text-align: justify;
}

@media (max-width: 750px) {
    main > * {
        padding-left: 15px;
        padding-right: 15px;
    }
}