main {
    margin-top: 20px;
    color: white;
}
h1 {
    font-size: 16px;
}
h2 {
    margin-top: 25px;
    margin-bottom: 16px;
    font-size: 13px;
    color: orange;
}
.content-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 650px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.upper-text,
.lower-text {
    margin-left: 10px;
    margin-right: 10px;
}
.upper-text img {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
    max-width: 100%;
}
.upper-text p:last-child {
    margin-bottom: 20px;
}
.lower-text {
    margin-top: 25px;
}
.lower-text ul {
    list-style-type: none;
    padding-left: 0;
}

.side-by-side {
    display: flex;
    justify-content: space-around;
    
}
.lower-left-text,
.lower-right-text {
    display: block;
    line-height: 1.5;
}
